pandas==2.2.2
numpy==1.26.4
openpyxl==3.1.2
matplotlib==3.8.4
seaborn==0.13.2
scikit-learn==1.4.2
xgboost==2.0.3
scipy==1.13.0
torch==2.3.0
stable-baselines3==2.7.1
shimmy==2.0.0
gymnasium==1.0.0
langchain
langchain-core
langchain-community
langchain-huggingface
huggingface_hub
sentence-transformers